html, body{
    height: 100%;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row-button{
    display: flex;
    justify-content: center;
}

.px-6{
    padding: 0 4rem;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
